body {
    background-image: url("Images/Art/assets/Antlers.png"), url("Images/Art/assets/Blob.png"), url("Images/Art/assets/Swirls.png"), url("Images/Art/assets/Bluegrid.png");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-attachment: fixed, fixed, fixed, fixed;
    background-size: 70vw 70vw, 40vw 40vw, 100% 100%, 100% 100%;
    background-position: bottom right, top left, bottom, center;
    color: rgb(216, 255, 250);
    font-family: 'Trebuchet MS';
}

p {}

a {}